@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/page.css" />


@if (TempData["Info"] != null)
{
    <div class="info">
        @TempData["Info"]
    </div>
}

<h1>Customer Page</h1>  
<p>Only [Member] role can access this page.</p>
