@{
    Layout = null;
}



<link rel="stylesheet" href="~/css/site.css" />

@if (TempData["Info"] != null)
{
    <div class="info">
        @TempData["Info"]
    </div>
}

<div class="background-overlay"></div>

<div class="content">
    <h2>COOK LOUD. EAT HOT</h2>
    <h1>LAWOOK</h1>
    <a href="@Url.Action("Login", "Account")" class="btn">Dine with Us</a>
</div>

