

@*<link rel="stylesheet" href="~/css/page.css" />*@

@if (TempData["Info"] != null)
{
    <div class="info">
        @TempData["Info"]
    </div>
}

<h1>Staff Page</h1>
<p>Only [Staff] role can access this page.</p>
<p>Welcome to the staff dashboard!</p>